@media only screen and (min-width : 1281px) {
    :root {
      --width: 1024px; 
    }
    h1 {
      font-size: 1.75em;
    }
    
    h2 {
      font-size: 1.3125em;
    }
    
    h3 {
      font-size: 1.02375em;
    }
    
    h4 {
      font-size: 0.875em;
    }
    
    h5 {
      font-size: 0.72625em;
    }
    
    h6 {
      font-size: 0.58625em;
    }

    .main-header { 
      max-width: var(--width);
    }
    
    .main-footer { 
      max-width: var(--width);
    }
    
    .main { 
      max-width: var(--width);
    }    
    
    .gallery-list {
      display: grid;
      grid-template-columns: repeat(5, 1fr);
    }

    .album-list {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }
}
