.row {
  display: flex;
  align-items: center;
  gap: 0.3em;
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.row-inline {
  display: inline-flex;
  align-items: center;
  gap: 0.3em;
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.row--wrap {
  flex-wrap: wrap;
}

.row--spacious {
  gap: 1em;
}

.row--extra-spacious {
  gap: 1.5em;
}

.row--comfy {
  gap: 0.4em;
}

.row--center {
  justify-content: center;
}


.row__item--right {
  margin-left: auto;
}
