---
permalink: "{{parent}}/{{page.fileSlug}}.html"
layout: layouts/base
navigation: true
eleventyComputed:
  defaultTitle: "{{ key | defaultPhotoTitle(parent, collections.entryInfoByKey) }}" 
---
{% set photoContext = key | photoContext(parent, collections.entryInfoByKey) %}

{% macro exifinfo(data, icon) %}
  {% if data %}
    <div class="exif__data">
      <span class="icon-{{icon}}"></span> {{ data }}
    </div>
  {% endif %}
{% endmacro %}

<article class="entry">
  <header class="entry__header">
    <h1 class="entry__title">{{title | d(defaultTitle)}}</h1>
    {% include "partials/navalbum.njk" %}
  </header>
  {{ content | safe }}
  <nav class="entry__imagenav">
    {% if photoContext.prevUrl %}
      <a class="entry_imagenavctrl entry__prevctrl" href="{{ photoContext.prevUrl }}">Previous</a>
    {% else  %}
      <span class="entry_imagenavctrl entry__prevctrl">Previous</span>
    {% endif %}
    <a class="entry_imagenavctrl entry__downctrl" href="{% imgUrl image %}">Download</a>
    {% if photoContext.nextUrl %}
      <a class="entry_imagenavctrl entry__nextctrl" href="{{ photoContext.nextUrl }}">Next</a>
    {% else  %}
      <span class="entry_imagenavctrl entry__nextctrl">Next</span>
    {% endif %}
  </nav>
  {% largeImage image, "", "image-photo" %}
  {% set exifdata = image | exif %}
  <div class="exif">
    {{ exifinfo(exifdata.DateTimeOriginal | date, "calendar") }}
    {{ exifinfo(exifdata | camera, "camera") }}
    {{ exifinfo(exifdata | fnum, "aperture") }}
    {{ exifinfo(exifdata | iso, "film") }}
    {{ exifinfo(exifdata | shutter, "timer") }}
  </div>
<article>
