---
permalink: "{{parent}}/{{page.fileSlug}}.html"
layout: layouts/base
navigation: true
eleventyComputed:
  title: "{{  collections.albumsAndImages | eleventyNavigation(parent) | defaultPhotoTitle(collections.albumByKey, key, parent) }}"
---
<article class="entry">
  <header class="entry__header">
    <h1 class="entry__title">{{title}}</h1>
    {% include "partials/navalbum.njk" %}
  </header>
  {% largeImage image, "", "image-photo" %}
<article>
