---
layout: layouts/base
---
<article class="entry">
  <header class="entry__header">
    <h1 class="entry__title">{{title}}</h1>
    {% set count = collections.rootAlbums | length %}
    
    <div class="entry__infoline">
      <div class="entry__item">
        {{ count }} albums
      </div>
      &middot;
      <div class="entry__subscribe entry__item">
        <span class="icon-rss" title="Subscribe"></span>
        <a href="/root.xml" title="A feed of all first-level items">Top level albums</a>
      </div>
      &middot;
      <div class="entry__subscribe entry__item">
        <span class="icon-rss" title="Subscribe"></span>
        <a href="/all.xml" title="A feed of all albums (containing only photos)">All albums</a>
      </div>
    </div>
  </header> 
  {{ content | safe }}
  <ul class="album-list">
    {% asyncEach a in collections.rootAlbums | sort(true, false, 'date')  %}      
    <li class="album-list__album-item">
      {% set url = a.url %}
      {% set title = a.data.title %}
      {% set featured = a.data.featured %}
      {% set date = a.date %}
      {% set key = a.data.key %}
      {% include "partials/album.njk" %}
    </li>
  {% endeach %}
  </ul>
<article>
