---
layout: layouts/base
---
<article class="entry">
  <header class="entry__header">
    <h1 class="entry__title">{{title}}</h1>
    {% set count = collections.rootAlbums | length %}
    {{ count }} albums
  </header> 
  {{ content | safe }}
  <ul class="album-list">
    {% asyncEach a in collections.rootAlbums | sort(true, false, 'date')  %}      
    <li class="album-list__album-item">
      {% set url = a.url %}
      {% set title = a.data.title %}
      {% set featured = a.data.featured %}
      {% set date = a.date %}
      {% set key = a.data.key %}
      {% include "partials/album.njk" %}
    </li>
  {% endeach %}
  </ul>
<article>
