<article class="album__wrapper entry">
  <header class="album__header entry__header">
    <span class="entry__published dt-published">{{ date | date  }}</span>
    <h2 class="entry__title"><a href="{{url}}">{{title}}</a></h2>
  </header>
  {% if featured %}
    <div class="album__imagewrapper">
      {% mediumImage featured, "", "album__image" %}
    </div>
  {% endif %}
</article>
