{% if navigation %}
  {% if eleventyNavigation.parent %}
  {% set navPages = collections.albums | eleventyNavigationBreadcrumb(eleventyNavigation.parent, {includeSelf: true}) %}
  {% endif %}
  {% if navPages | length > 0 %}
    Posted in 
    <ul class="breadcrumbs">
      {%- for entry in navPages %}
        <li class="breadcrumbs__item">
          <a href="{{ entry.url }}">{{ entry.title }}</a>
        </li>
      {%- endfor -%}
    </ul>
  {% endif %}
{% endif %}
